@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
  /*scroll-behavior: smooth;*/
}
body {
  background:#1F2022;
  color:white;
  font-family:'Roboto';
  /*overflow: hidden;*/
/*  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);*/
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}


iframe {
  display: block;
  margin: 0 auto;
}



.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}


.updates {
  position: fixed;
  top: 80vh;
  right: 30px;
  z-index: 3;
  color: black;
  background: #fff;
  padding: 10px;
  border-radius: 3px;
  opacity: 0;
  -webkit-animation: flash 2s ease 2s normal infinite;
  -o-animation: flash 2s ease 2s normal infinite;
  animation: flash 2s ease 2s normal infinite;
}

.updates a:link {
  color: black;
  text-decoration: none;
}

.updates a:visited {
  color: black;
  text-decoration: none;
}



.page-one
{
  /*text-align:center;*/
  font-weight:300;
  font-size:56px;
  padding-top:40vh;
  height:100vh;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}

.subhead
{
}

.mainhead
{
  font-weight: bolder;
  text-align: center;
}

.subbody
{
  margin-top: 2rem;
  font-size: 1.7rem; 
}

.page
{
  margin-top: 20vh;
  /*opacity: 0;*/
}

#description
{
  opacity: 0;
  font-size:24px;
  -webkit-animation: showup 1s ease 2s normal forwards;
  -o-animation: showup 1s ease 2s normal forwards;
  animation: showup 1s ease 2s normal forwards;
}

#story
{
  margin-top: 100vh;
}

.showpage
{
  -webkit-animation: showup 1s ease 0.3s   forwards;
  -o-animation: showup 1s ease 0.3s   forwards;
  animation: showup 1s ease 0.3s   forwards;
}

.goup
{
  padding-top: 1vh;
  font-size: 3vw;
  height: 8vh;
  background: #1F2022E8;
}

.goleft
{
  padding-left: 2vw;
  overflow: visible !important;
  width: 0 !important;
}

.slideleft
{
  animation: slidein 1s  !important;
  animation-fill-mode: forwards  !important; 
}

.logo-container {
  /*padding-left: 30vw;*/
  width: 100%;
  text-align: center;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
  animation: showup 1s ease-in-out;
  
}

.logo-span
{
  display: inline-block;
}


.downscroll
{
  opacity: 0;
  width: 3vw;
  height: 3vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  animation: showtheway 2s ease 3s infinite;
}

.scroll-image
{
  width: 100%;
  height: 100%;
}

.navcontrols
{

/*  margin-left: auto;
  margin-top: 20vh;*/
  z-index: 3;
  position: fixed;
  top: 70vh;
  left:90vw;
    width: 6vw;
    height: 13vh;
}

.up
{
  width: 100%;
  height: 50%;
  opacity: 0;
  margin-bottom: 1vh;
}
.down
{
  width: 100%;
  height: 50%;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 3s;
}


.expansion
{
  animation: slideout 3s;
  animation-fill-mode: forwards; /*To retain state after animation.*/
}


.placeholder {
  font-size:12px;
  color:#999;
  margin-top:200px;
}

#goodbye
{
  margin-top: 80vh;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.m-5 {
  margin: 3rem !important;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.navbar > .container,
.navbar > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
  .container {
    min-width: 992px !important;
  }




@keyframes showup {
    0% {opacity:0; padding-top:3vh;}
    100% {opacity:1; padding-top:0vh;}
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}



@keyframes flash {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}




@keyframes slidein {
    0% { opacity: 1; width: 250px; }
    100% { opacity: 0; width: 0px;}
}

@keyframes slideout {
    0% { opacity: 0; width: 0px;}
    30% { opacity: 0; width: 0px;}
    100% { opacity: 1; width: 250px; }
}

@keyframes showtheway {
    0% { opacity: 0; padding-top: 0px;}
    20% { opacity: 1; padding-top: 0px;}
    70% { opacity: 0; padding-top: 20px;}
    100% { opacity: 0; padding-top: 0px; }
}


